* {
    margin: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
}


header{
    background-color: blue;
    padding: 10px;
    color: aliceblue;
    text-align: center;
}

main{
    padding: 30px 50px;
}

.card{
    background-color: aliceblue;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius:  5px;
}

.lineinput{
    display: grid;
    margin-bottom: 10px;

}

input{
    padding: 10px;
    border:  1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

button{
    border: 0;
    padding: 10px;
    outline: 0;
    background-color: blueviolet;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.9s;
}

button:hover{
    background-color: rgb(102, 31, 168);
}

.content{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    border-color: 1px solid #ccc;
    width: 100%;
}

table th{
    background-color: #ccc;
}

table th, td{
    padding: 1px 5px;
    text-align: left;
}

table td img{
    width: 20px;

}

.center {
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }