* {
    margin: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
}


header{
    background-color: blue;
    padding: 10px;
    color: aliceblue;
    text-align: center;
}

main{
    padding: 30px 50px;
}

.card{
    background-color: aliceblue;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius:  5px;
}

.lineinput{
    display: grid;
    margin-bottom: 10px;

}

input{
    padding: 10px;
    border:  1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

button{
    border: 0;
    padding: 10px;
    outline: 0;
    background-color: blueviolet;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.9s;
}

button:hover{
    background-color: rgb(102, 31, 168);
}

.content{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    border-color: 1px solid #ccc;
    width: 100%;
}

table th{
    background-color: #ccc;
}

table th, td{
    padding: 1px 5px;
    text-align: left;
}

table td img{
    width: 20px;

}

.center {
    text-align: center;
}